@model SistemaPedidos.Models.DTO.SolicitudProcesarPedido

@section Migas{
    <li class="active">Procesar pedido</li>
}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9 margin-top-0">
        <h1 class="page-title text-align-center txt-color-blueDark">
            <b>   &nbsp;</b>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 margin-top-0">
        <ul id="sparks">
            <li class="sparks-info">
                <a href="@Url.Action("Index", "Home")" btn btn-primary" onclick="cargando()"><i class="fa fa-arrow-left"></i> Regresar </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <div class="well padding-10">
            <legend><h4>Detalle</h4> </legend>
            <h7 class="margin-top-0">
                Nombre:&nbsp;&nbsp;&nbsp;<b>@Model.DetallePedidoLista.customerName</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tel&eacute;fono:&nbsp;&nbsp;&nbsp;<b> @Model.DetallePedidoLista.customerMobile</b>

            </h7><hr />
            <h7 class="margin-top-0">
                Identificación:&nbsp;&nbsp;&nbsp;<b>@Model.DetallePedidoLista.customerIdentification</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:&nbsp;&nbsp;&nbsp;<b> @Model.DetallePedidoLista.email</b>

            </h7><hr />
            <h7 class="margin-top-0">
                Dirección:&nbsp;&nbsp;&nbsp;<b>@Model.DetallePedidoLista.customerAddress</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>

            </h7><hr />

            <div class="row">
                @foreach (var item in Model.DetallePedidoLista.orderDetails)
                {
                    <div class="col-lg-3">

                        <ul class="list-group no-margin">

                            <li class="list-group-item">

                                <a href=""><legend> @item.sku</legend> </a>
                                <a href=""><b>Nombre: </b>@item.productName  </a>
                                <br />
                                <a href=""><b>Cantidad:</b> @item.quantity  </a>
                                <br />
                                <a href=""><b>Total:</b> $ @item.total  </a>
                                <br />
                                <a href=""><b> Descripci&oacute;n </b> </a><br />
                                <a href=""><p class="JustifyFull">@item.comments</p></a>
                                <hr />
                            </li>
                        </ul>
                        <br />
                    </div>
                }
            </div>

        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <div id="content" class="well no-padding">
            <form asp-action="ProcesarPedido" method="post" novalidate="novalidate" class="smart-form client-form">
                <header>
                    <b>Procesar pedido </b>
                </header>
                <input type="hidden" asp-for="Id">
                <fieldset>
                    <section>
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    </section>

                    <section class="col col-sm-12">
                        <label class="label">Acci&oacute;n</label>
                        <div class="form-group">
                            <div class="input">
                                <select asp-for="Proceso"  class="form-control select2" asp-items="ViewBag.IdAccion"></select>
                                <span asp-validation-for="Proceso" class="text-danger"></span>
                            </div>
                        </div>
                    </section>

                    <section id="minutosId" class="col col-sm-12">
                        <label class="label">Minutos</label>
                        <label class="input">
                            <i class="icon-append fa fa-times"></i>
                            <input type="number" asp-for="Minutos" placeholder="Minutos">
                            <b class="tooltip tooltip-bottom-right">Ingrese los minutos</b>
                            <span asp-validation-for="Minutos" class="text-danger"></span>
                        </label>
                    </section>

                    <section id="razonId" class="col col-sm-12">
                        <label class="label">Raz&oacute;n</label>
                        <label class="input">
                            <i class="icon-append fa fa-file-text"></i>
                            <input type="text" asp-for="Razon" placeholder="Razón">
                            <b class="tooltip tooltip-bottom-right">Ingrese la raz&oacute;n</b>
                            <span asp-validation-for="Razon" class="text-danger"></span>
                        </label>
                    </section>
                </fieldset>

                <footer>
                    <button type="submit" id="btn-guardar" class="btn btn-primary">
                        Procesar
                    </button>
                </footer>
            </form>

        </div>
    </div>



</div>
<!-- /.modal -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">

   
    $(function () {
            var valor = $("#Proceso").val();
            if (valor == "AceptarAtraso") {
                $("#minutosId").show();
                $("#razonId").show();
            } else {
                if (valor == "Negar") {
                    $("#razonId").show();
                    $("#minutosId").hide();
                } else {
                    if (valor == "Aceptar") {
                        $("#minutosId").hide();
                        $("#razonId").hide();
                    }

                }
            }
    });


    $("#Proceso").change(function () {
            var valor = $("#Proceso").val();
            if (valor == "AceptarAtraso") {
                $("#minutosId").show();
                $("#razonId").show();
            } else {
                if (valor == "Negar") {
                    $("#razonId").show();
                    $("#minutosId").hide();
                } else {
                    if (valor == "Aceptar") {
                        $("#minutosId").hide();
                        $("#razonId").hide();
                    }

                }
            }
            return false;
        });

</script>
}

