@model SmartAdminSaludsa.Models.ViewModels.Prestadores.BuscarBeneficioViewModel


@section Migas{
    <li class="active">Pedidos sin procesar</li>
}

<section id="widget-grid" class="">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="content" class="well no-padding">
                <form  method="post" novalidate="novalidate" class="smart-form client-form">
                    <header>
                        <b>Editar producto</b>
                    </header>
                    <fieldset>
                        <section>
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        </section>

                        <section class="col col-sm-3">
                            <label class="label">N&uacute;mero de convenio</label>
                            <label class="input">
                                <i class="icon-append fa fa-file-text"></i>
                                <input type="number" asp-for="NumeroConvenio" placeholder="Número de convenio">
                                <b class="tooltip tooltip-bottom-right">Ingrese el n&uacute;mero de convenio</b>
                                <span asp-validation-for="NumeroConvenio" class="text-danger"></span>
                            </label>
                        </section>

                        <section class="col col-sm-3">
                            <label class="label">C&oacute;digo del producto</label>
                            <label class="input">
                                <i class="icon-append fa fa-file-text"></i>
                                <input asp-for="CodigoProducto" placeholder="Código del producto">
                                <b class="tooltip tooltip-bottom-right">Ingrese el c&oacute;digo del producto</b>
                                <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                            </label>
                        </section>

                        <section class="col col-sm-3">
                            <label class="label">C&oacute;digo del plan</label>
                            <label class="input">
                                <i class="icon-append fa fa-file-text"></i>
                                <input type="text" readonly asp-for="CodigoPlan" placeholder="Código del plan">
                                <b class="tooltip tooltip-bottom-right">Ingrese el c&oacute;digo del plan</b>
                                <span asp-validation-for="CodigoPlan" class="text-danger"></span>
                            </label>
                        </section>

                        <section class="col col-sm-3">
                            <label class="label">Versi&oacute;n del plan</label>
                            <label class="input">
                                <i class="icon-append fa fa-file-text"></i>
                                <input type="number" asp-for="VersionPlan" placeholder="Versión del plan">
                                <b class="tooltip tooltip-bottom-right">Ingrese la versi&oacute;n del plan</b>
                                <span asp-validation-for="VersionPlan" class="text-danger"></span>
                            </label>
                        </section>

                        <section class="col col-sm-12"></section>

                    </fieldset>

                    <footer>
                        <button type="submit" id="btn-guardar" class="btn btn-primary">
                            Buscar
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken " id="wid-id-0" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-colorbutton="false" data-widget-editbutton="false">
                <header style="background-color:#eb5c27;border:#eb5c27">
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Lista de pedidos</h2>

                </header>
                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <table id="tbOrdenes" data-page-length="50" class="table table-striped table-bordered table-hover" style="border-color:#eb5c27" width="100%">
                            <thead>
                                <tr>

                                    <th data-hide="phone" style="text-align:center"> N&uacute;mero de &oacute;rden</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Nombre del cliente</th>
                                    <th style="text-align:center">Tel&eacute;fono</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Total</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Costo env&iacute;o</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Comisi&oacute;n</th>
                                    <th data-hide="phone,tablet" style="text-align: center">Hora despacho aprox.</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Hora despacho real</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Tiempo (min.)</th>
                                    <th data-hide="phone,tablet" style="text-align:center">Estado</th>
                                    <th style="text-align:center">Opciones</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </article>
    </div>
</section>

<!-- end widget grid -->
@section Scripts {
    <script>

        //mostrarLoadingPanel("content", "");
        function pedidosActuales(){

            mostrarLoadingPanel("content", "");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("PedidosActuales","Home")',
                dataType: 'json',
                success: function (data) {
                    if (data.estado == true) {
                        LoadCurrentReport(data.lista);
                        if (data.procesar > 0) {
                            mostrarNotificacion("Aviso", "Existen pedidos sin procesar.")
                        };
                    } else
                    {
                        if (data.sesionExpirada == true) {
                            mostrarNotificacion("Error", "Su sesión ha expirado");
                            location.href = '@Url.Action("Login","Account")';
                            return;
                        }
                        else
                        {
                            mostrarNotificacion("Error", data.mensaje);
                            $("#content").waitMe("hide");
                        }

                    }
                }, complete: function (data) {
                    $("#content").waitMe("hide");


                },
                error: function (ex) {
                   mostrarNotificacion("Error", ex);
                   location.href = '@Url.Action("Index")';
                }
            });
        }

        function LoadCurrentReport(oResults) {

            //Load  datatable
            var oTblReport = $("#tbOrdenes")
            oTblReport.DataTable({
                "destroy": true,
                "searching": false,
                "paging":   false,
                "ordering": false,
                "info": false,
                "scrollX": true,
                 "language": {
                    "emptyTable": "No hay información",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                },
                "data": oResults,
                "columns": [
                    { data: 'orderNumber' },
                    { data: 'customerName' },
                    { data: 'customerMobile' },
                    {
                        data: 'totalOrder',
                        render: $.fn.dataTable.render.number( ',', '.', 2,'$' )
                    },
                    {
                        data: 'shippingValue',
                        render: $.fn.dataTable.render.number( ',', '.', 2,'$' )
                    },
                    {
                        data: 'paymentCharge',
                        render: $.fn.dataTable.render.number(',', '.', 2, '$')
                    },
                    {
                        data: 'dispatchAproxTime',
                        render: function (data, type, row) {
                            if (data == null) {
                                return "";
                            }
                            return moment(data).format("YYYY/MM/DD HH:mm:ss");
                        }
                    },
                    {
                        data: 'orderDispatch',
                        render: function (data, type, row) {
                            if (data == null) {
                                return "";
                            }
                            return moment(data).format("YYYY/MM/DD HH:mm:ss");
                        }
                    },
                    { data: 'dispatchMinCount' },
                    { data: 'orderStatus' },
                    {
                        className: "text-center",
                        data: "salesOrderId",
                        title: "Opciones",
                        render: function (data, type, row) {


                            if (row.orderStatus == "Por Pagar") {

                                var myUrl = '@Url.Action("ProcesarPedidoVer", "Home")?id=' + data;
                                return '<a href=\"' + myUrl + '\" class=\"btn btn-primary center fa fa-pencil-square-o btn-sm\"  onclick = \"cargando();\"></a>';
                                //return ''//'<a href=\"javascript:void(0);\" class=\"btn btn-primary center fa fa-motorcycle btn-sm\"  onclick = \"ProcesarConEnvio(' + data + ');\"></a> <a href=\"javascript:void(0);\" class=\"btn btn-danger center fa fa-motorcycle btn-sm\"  onclick = \"ProcesarSinEnvio(' + data + ');\"></a>';
                            } else {

                                if (row.orderStatus == "Pendiente") {
                                    var myUrl = '@Url.Action("ProcesarPedido", "Home")?id=' + data;
                                    return '<a href=\"' + myUrl + '\" class=\"btn btn-primary center fa fa-check btn-sm\"  onclick = \"cargando();\"> Procesar</a>';


                                }

                                else {
                                    if (row.orderStatus == "En Proceso" || row.orderStatus == "Despachado" || row.orderStatus == "Entregado" ) {
                                        var myUrl = '@Url.Action("ProcesarPedidoVer", "Home")?id=' + data;
                                return '<a href=\"' + myUrl + '\" class=\"btn btn-primary center fa fa-pencil-square-o btn-sm\"  onclick = \"cargando();\"></a>';
                                    }
                                     else {
                                        return '<p></p>';
                                }

                                }



                            }
                        //return '<a href=\"LinkedAccountsDetails/' + data + '\">Edit</a>';

                    }
                    }
                ],
                rowCallback: function(row, data, index) {
                    if (data.orderStatus == "Despachado") {
                        $("td", row).addClass("bg-color-greenLight");
                    }
                    if (data.orderStatus == "Pendiente") {
                        $("td", row).addClass("bg-color-redLight");
                    }
                    if (data.orderStatus == "En Proceso") {
                        $("td", row).addClass("bg-color-orange");
                    }
                }
            });
        }


        $('#tbOrdenes tbody').on('click', 'button', function () {
            debugger;
            var data = oTblReport.row($(this).parents('tr')).data();
            var url = "/UpdateMember/Edit/" + data.id;
            window.location.href = url;
        });

         function redireccionarIndex()
        {
            location.href = '@Url.Action("Index")';
        };



         loadScript("/js/plugin/datatables/jquery.dataTables.min.js",
            function () {
                loadScript("/js/plugin/datatables/dataTables.colVis.min.js",
                    function () {
                        loadScript("/js/plugin/datatables/dataTables.tableTools.min.js",
                            function () {
                                loadScript("/js/plugin/datatables/dataTables.bootstrap.min.js",
                                    function () {
                                        loadScript("/js/plugin/datatable-responsive/datatables.responsive.min.js",
                                            pagefunction);
                                    });
                            });
                    });
            });
    </script>
}
